.default{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 132, 35);
    background: url(./images/image.png) rgb(rgb(255, 255, 255))
}

.what{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background{
    background-image: url(images/bluewood.png);
}

.title{
    color: rgb(255, 16, 16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation{
    border: 2px solid rgb(186, 189, 182);
    background-color: rgb(216, 209, 202);
    text-decoration-line: none;
    color: black;
}