body{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    box-shadow: 3px 3px 3px gray;
    background-color: rgb(253, 237, 218);
}

legend{
    border: thin solid black;
    background-color: rgb(10, 111, 136);
    padding: 10px;
    color: white;
}

.form-row{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 10px;
}

.form-row input{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.form-row input:focus{
    background-color: rgb(238, 230, 230);
}

.form-row label{
    width: 150px;
    text-align: right;
}

.check-row{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.spacer{
    width: 150px;
}

@media only screen and (max-width: 600px){
    .form-row{
        flex-flow: column wrap;
    }
}